
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans:wght@300;400;500&family=Grandiflora+One&family=Kablammo&family=Oswald:wght@500&family=Poppins:wght@700&family=Roboto+Condensed:wght@300&family=Source+Code+Pro:wght@300&display=swap');
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-color: rgb(0, 0, 33);
        color: white;
        font-family: 'Fira Sans', sans-serif;

    }

    nav{
        display: flex;
        justify-content: space-around;
        align-items:center ;
        height: 80px;
        background-color: rgb(18, 18, 62);
    }

    nav ul{
        display: flex;
        justify-content: center;
    }

    nav ul li{
        list-style: none;
        margin: 0 23px;
    }

    nav ul li a{
        text-decoration: none;
        color: white;
    }

    nav ul li a:hover{
        color: rgb(153, 153, 226);
        font-size: 1.4rem;
    }

    
    .contactform {
        padding: 30px 34px ;
        font-family: 'Fira Sans', sans-serif;
        margin: 88 px;
        
    }
    
    .contactform  h1{
        font-family: 'Fira Sans', sans-serif;
         padding: 40px 0; 
        text-align: center;
    }
    
    .contactform form div{
        padding: 10px 0;
        display: flex;
        flex-direction: column;
    }
    
    .contactform form div input{
       
       border-radius: 5px;
       margin: 12px 0 0 0 ;
       padding: 5px;
    }
    
    .contactform form {
      margin: 0 40px;
    }
    
    #emailHelp{
        font-size: 11px;
        color: rgb(167, 167, 231);
        margin: 0 5px;
        padding:3px 0 0 0;
    }
    
    #form-check {
        flex-direction: row;
    }
    
    #form-check input{
        width: 24px;
        margin: 3px 0;
       
    }


    .button{
        margin-top: 2.2em;
        font-size: 16px;
    }
    
    .btn{
        padding: 8px 10px;
        border-radius: 22px;
        color: white;
        background-color: rgb(28, 131, 234);
        font-weight: bold;
        font-size: 12px;
        margin: 0 3px;
        cursor: pointer;
    }
    
    

    footer{
        background: color #0e0e1a;
        
    }
    
    .footer .first{
        font-size: 23px;
    }

    .footer  img{
        width: 23px;
        
    }

    .footer{
        display: flex;
        padding: 23px 122px;
        justify-content: space-evenly;
    }

    .footer ul {
        list-style: none;
    }

    .footer > div{
        width:223px ;
    }

    footer .footer-rights{
        text-align: center;
        color: grey;
        padding: 12px 0;
    }
